/** * prism.js default theme for JavaScript, CSS and HTML * Based on dabblet (http://dabblet.com) * @author Lea Verou */code[class*="language-"],pre[class*="language-"]{color:black;background:none;text-shadow:0 1px white;font-family:Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;}
pre[class*="language-"]::-moz-selection, pre[class*="language-"]::-moz-selection,code[class*="language-"]::-moz-selection, code[class*="language-"]::-moz-selection{text-shadow:none;background:#b3d4fc;}
pre[class*="language-"]::selection, pre[class*="language-"]::selection,code[class*="language-"]::selection, code[class*="language-"]::selection{text-shadow:none;background:#b3d4fc;}
@media print{code[class*="language-"],pre[class*="language-"]{text-shadow:none;}
}
pre[class*="language-"]{overflow:auto;}
:not(pre) > code[class*="language-"],pre[class*="language-"]{}
:not(pre) > code[class*="language-"]{padding:.1em;border-radius:.3em;white-space:normal;}
.token.comment,.token.prolog,.token.doctype,.token.cdata{color:slategray;}
.token.punctuation{color:#999;}
.namespace{opacity:.7;}
.token.property,.token.tag,.token.boolean,.token.number,.token.constant,.token.symbol,.token.deleted{color:#00b9b3;}
.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted{color:#690;}
.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string{color:#a67f59;background:hsla(0, 0%, 100%, .5);}
.token.atrule,.token.attr-value,.token.keyword{color:#d51c5a;}
.token.function{color:#05a19c;}
.token.regex,.token.important,.token.variable{color:#e90;}
.token.important,.token.bold{font-weight:bold;}
.token.italic{font-style:italic;}
.token.entity{cursor:help;}