@font-face {
    font-family: 'Circe-Regular';
    src: url('../fonts/Circe-Regular.eot');
    src: local('☺'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-Light';
    src: url('../fonts/Circe-Light.eot');
    src: local('☺'), url('../fonts/Circe-Light.woff') format('woff'), url('../fonts/Circe-Light.ttf') format('truetype'), url('../fonts/Circe-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: 0
}

img {
    border: none
}

html,
body {
    height: 100%;
}

body {
    background: #fafafa;
    font-family: 'Circe-Light', sans-serif;
    font-size: 15px;
    color: #222428;
    min-width: 320px;
    position: relative;
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
}

ol,
ul {
    list-style: none;
}

a {
    color: #4badd4;
    text-decoration: none;
    transition: all 0.2s linear;
}

a:hover {
    color: #222428;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Circe-Regular', sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 17px;
    letter-spacing: 0.5px;
}

section {
    padding: 80px 0;
}

p {
    line-height: 1.2;
}


/********* COMMON **********/

.center {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flexbox-inner {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
}

.btn {
    background-color: #4badd4;
    display: inline-block;
    padding: 9px 20px;
    font-family: 'Circe-Regular', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #4badd4;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s linear;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn:hover {
    background: #fafafa;
    color: #4badd4;
}

.subtitle {
    font-family: 'Circe-Regular', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
}

.list {
    margin-bottom: 25px;
}

.list li {
    padding-left: 30px;
    margin-bottom: 7px;
    position: relative;
    font-size: 20px;
}

.list li:before {
    background: url(../images/icons.png) no-repeat 0 -380px;
    content: '';
    display: block;
    width: 16px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/*****************************************************/


/********* HEADER **********/

.header {
    background: #fafafa;
    padding: 8px 0;
    font-family: 'Circe-Regular', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo {
    display: block;
    width: 126px;
    height: 35px;
}

.header-nav ul li {
    display: inline-block;
    margin-left: 36px;
}

.header-nav ul li a {
    font-size: 14px;
    color: #202226;
}

.header-nav ul li a.sign-link {
    color: #4badd4;
}

.header-nav ul li a.sign-link:hover {
    text-decoration: underline;
}

.header-nav ul li a:hover {
    color: #4badd4;
}


/*****************************************************/


/********* GET STARTED **********/

.get-started {
    background: url(../images/get-started.jpg) no-repeat 0 0 / cover;
    /*min-height:720px;*/
    height: 100%;
    font-family: 'Circe-Regular', sans-serif;
    color: #fff;
    padding: 0;
    position: relative;
}

.get-started .flexbox {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 10px;
    z-index: 2;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
    padding-top: 10px;
    text-align: right;
    z-index: 3;
}

.nav ul li {
    display: inline-block;
    margin-left: 35px;
}

.nav ul li a {
    font-size: 16px;
    color: #fff;
}

.nav ul li a:hover {
    color: #ccc;
}

.promo {
    max-width: 870px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

.promo h2 {
    max-width: 645px;
    margin: 0 auto 30px;
}

.promo .btn {
    font-size: 20px;
    padding: 10px 30px;
}

.plan {
    text-align: center;
}

.plan-bg {
    max-height: 50vh;
    max-width: 100%;
}


/*****************************************************/


/********* STEPS START **********/

.steps {
    max-width: 935px;
    margin: 0 auto;
}

.steps-list li {
    padding: 40px 0 100px;
    position: relative;
}

.steps-list li:nth-child(odd) {
    text-align: right;
}

.steps-list li:nth-child(odd) .step-info {
    margin-right: 118px;
}

.steps-list li:nth-child(even) .step-pic {
    left: auto;
    right: 14px;
}

.step-info {
    width: 350px;
    display: inline-block;
    text-align: left;
}

.step-number {
    font-family: 'Circe-Regular', sans-serif;
    font-size: 48px;
    color: #4bacd3;
    margin-bottom: 8px;
    display: block;
}

.step-pic {
    background: url(../images/steps.png) no-repeat 0 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
}

.steps-list li:nth-child(1) .step-pic {
    background: url(../images/step-1.svg) no-repeat 0 0;
    width: 318px;
    height: 343px;
    top: 8px;
    left: 3px;
}

.steps-list li:nth-child(2) .step-pic {
    background: url(../images/step-2.svg) no-repeat 0 0;
    width: 389px;
    height: 377px;
    top: -50px;
}

.steps-list li:nth-child(3) .step-pic {
    background: url(../images/step-3.svg) no-repeat 0 0;
    width: 379px;
    height: 389px;
    top: 0px;
    left: -35px;
}


/*****************************************************/


/********* TOOLS **********/

.tools {
    background: #f6f5f5;
}

.tools h2 {
    margin-bottom: 25px;
}

.tools .subtitle {
    max-width: 985px;
    margin: 0 auto 42px;
}

.tools .flexbox {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.tools-item {
    background: #fafafa;
    padding: 35px 48px;
    -webkit-flex: 1 1 47%;
    -ms-flex: 1 1 47%;
    flex: 1 1 47%;
    max-width: 47%;
}

.tools-name {
    padding-left: 77px;
    position: relative;
    height: 60px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    margin-bottom: 30px;
}

.tools-name:before {
    background: url(../images/icons.png) no-repeat 0 0;
    content: '';
    display: block;
    width: 59px;
    height: 58px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.tool1:before {
    background-position: 0 0;
}

.tool2:before {
    background-position: 0 -108px;
}

.tools-item p {
    margin-bottom: 15px;
    color: #515254;
}


/*****************************************************/


/********* APPS **********/

.apps {
    background: url(../images/apps.jpg) no-repeat 0 0 / cover;
}

.apps .flexbox {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.apps-info {
    -webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    max-width: 40%;
    color: #fff;
    padding-top: 52px;
}

.apps-info h2 {
    text-align: left;
    margin-bottom: 38px;
}

.apps-info h3 {
    margin-bottom: 38px;
}

.apps-list {
    -webkit-flex: 1 1 56%;
    -ms-flex: 1 1 56%;
    flex: 1 1 56%;
    max-width: 56%;
}

.tabNavigation {
    font-size: 0;
}

.tabNavigation li {
    display: inline-block;
}

.tabNavigation li a {
    background: rgba(47, 47, 47, 0.45);
    display: block;
    padding: 20px 40px 20px 25px;
    color: #fff;
    font-family: 'Circe-Regular', sans-serif;
    font-size: 20px;
    color: #fafafa;
}

.tabNavigation li a span {
    padding-left: 50px;
    position: relative;
    display: block;
    line-height: 32px;
}

.tabNavigation li a span:before {
    background: url(../images/icons.png) no-repeat 0 0;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -4px;
    margin: auto;
}

.tabNavigation li a.ios {
    min-width: 165px;
}

.tabNavigation li a.ios span:before {
    background-position: 0 -216px;
    width: 29px;
    height: 32px;
}

.tabNavigation li a.android span:before {
    background-position: 0 -298px;
    width: 27px;
    height: 32px;
}

.tabNavigation li.active a {
    background: #f6f5f5;
    color: #222428;
    pointer-events: none;
}

.tabs_box {
    background: #f6f5f5;
    padding: 10px 20px;
    display: none;
    overflow: hidden;
}

.tabs_box#tabs1 {
    display: block;
}

.code {
    max-height: 380px;
    overflow: hidden;
    margin-bottom: 28px;
}

.code.full {
    max-height: inherit;
}


/*****************************************************/


/********* PARTNERS **********/

.partners-section {
    background: #f2f2f2;
    position: relative;
}

.partners-section h2 {
    margin-bottom: 40px;
}

.partners {
    position: relative;
    padding: 85px 0 75px;
}

.partners-item {
    width: 390px;
    text-align: center;
    padding: 0 25px;
    margin: 0 auto;
}

.partners-item img {
    border-radius: 20px;
    margin-bottom: 45px;
}

.slick-list {
    overflow: hidden;
}

.slick-slide {
    float: left;
}

.slick-prev {
    background: url(../images/arrows.png) no-repeat 0 0;
    display: block;
    width: 22px;
    height: 34px;
    border: none;
    text-indent: -9999px;
    position: absolute;
    left: 45px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 9;
}

.slick-next {
    background: url(../images/arrows.png) no-repeat 0 -34px;
    display: block;
    width: 22px;
    height: 34px;
    border: none;
    text-indent: -9999px;
    position: absolute;
    right: 45px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 9;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 0.8;
}


/*****************************************************/


/********* DEMO **********/

.demo {
    background: #4badd4;
    color: #fff;
    padding: 68px 0 78px;
}

.demo h2 {
    margin-bottom: 40px;
}

.demo-title {
    -webkit-flex: 1 1 308px;
    -ms-flex: 1 1 308px;
    flex: 1 1 308px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    max-width: 308px;
    background: #82c6e1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.demo-title h2 {
    font-size: 48px;
    margin: 0;
    display: inline-block;
}

.demo-title h2 span {
    display: block;
    font-size: 30px;
    border-top: 2px solid #aedaeb;
    padding-top: 25px;
    margin: 18px auto 0;
    max-width: 140px;
}

.demo-info {
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    background: #f6f5f5;
    padding: 50px 56px;
    color: #515254;
}


/*****************************************************/


/********* SUPPORT **********/

.support {
    padding: 75px 0;
}

.support h2 {
    margin-bottom: 30px;
}

.support .subtitle {
    margin-bottom: 40px;
}

.support-item {
    background: #f6f5f5;
    padding: 22px 40px;
    -webkit-flex: 1 1 47%;
    -ms-flex: 1 1 47%;
    flex: 1 1 47%;
    max-width: 47%;
    height: 105px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.support-item p {
    padding-left: 110px;
    position: relative;
}

.support-item p:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.support-item .support-email:before {
    background: url(../images/support-email.svg) no-repeat 0 0;
    width: 71px;
    height: 52px;
}

.support-item .support-chat:before {
    background: url(../images/support-chat.svg) no-repeat 0 0;
    width: 77px;
    height: 57px;
}

.ask-box {
    text-align: center;
    padding-top: 45px;
}

.ask-box .btn {
    font-size: 20px;
}


/*****************************************************/


/********* RESEARCH **********/

.research {
    border-top: 1px solid #ccc;
    padding: 75px 0 80px;
}

.research h2 {
    max-width: 740px;
    margin: 0 auto 40px;
}

.research .flexbox {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.research-item {
    padding-top: 35px;
    -webkit-flex: 1 1 31%;
    -ms-flex: 1 1 31%;
    flex: 1 1 31%;
    max-width: 31%;
    border-top: 5px solid #4badd4;
}


/*****************************************************/


/********* REQUEST DEMO **********/

.request-demo-section {
    background: url(../images/request-demo.jpg) no-repeat 0 0 / cover;
    height: 100%;
    font-family: 'Circe-Regular', sans-serif;
    color: #fff;
    padding: 0;
    position: relative;
    text-align: center;
}

.request-demo-section > .flexbox {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 2;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.request-demo h2 {
    font-size: 34px;
    max-width: 875px;
    margin: 0 auto 43px;
}

.request-demo .btn {
    font-size: 18px;
    padding: 12px 24px 9px 24px;
}

.request-list-item {
    -webkit-flex: 1 1 17%;
    -ms-flex: 1 1 17%;
    flex: 1 1 17%;
    max-width: 17%;
    padding-top: 110px;
    position: relative;
    font-size: 18px;
    color: #fff;
}

.request-list-item:hover {
    color: #fff;
    opacity: 0.8;
}

.request-list-item:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.request-list-item.item1:before {
    background: url(../images/request_icon1.svg) no-repeat center 0 / auto 100%;
    height: 73px;
    top: 3px;
}

.request-list-item.item2:before {
    background: url(../images/request_icon2.svg) no-repeat center 0 / auto 100%;
    height: 70px;
    top: 5px;
}

.request-list-item.item3:before {
    background: url(../images/request_icon3.svg) no-repeat center 0 / auto 100%;
    height: 82px;
}

.request-list-item.item4:before {
    background: url(../images/request_icon4.svg) no-repeat center 0 / auto 100%;
    height: 80px;
}

.request-list-item.item5:before {
    background: url(../images/request_icon5.svg) no-repeat center 0 / auto 100%;
    height: 72px;
    top: 3px;
}

.video-bg {
    display: none;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    z-index: 0;
}

.video-bg:after {
    background: rgba(0, 0, 0, 0.7);
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.video-bg video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
}

video::-webkit-media-controls {
    display: none !important;
}

.mob .video-bg {
    display: none;
}


/*****************************************************/


/********* PLATFORM **********/

.platform-section {
    text-align: center;
    padding-bottom: 85px;
}

.platform-section .flexbox {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.platform-section .btn {
    padding: 10px 30px;
}

.platform-list {
    margin: 75px 0 48px;
}

.platform-item {
    -webkit-flex: 1 1 22%;
    -ms-flex: 1 1 22%;
    flex: 1 1 22%;
    max-width: 22%;
    padding: 245px 10px 0;
    position: relative;
    font-family: 'Circe-Light';
}

.platform-item h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.platform-item h5 {
    font-size: 15px;
    color: #4badd4;
    font-weight: normal;
    line-height: 18px;
    padding-bottom: 18px;
    margin-bottom: 18px;
    position: relative;
}

.platform-item h5:before {
    background: #4badd4;
    width: 30px;
    height: 1px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.platform-item:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.platform-item.item1:before {
    background: url(../images/platform1.svg) no-repeat 0 0 / 100% auto;
    width: 112px;
    height: 196px;
}

.platform-item.item2:before {
    background: url(../images/platform2.svg) no-repeat 0 0 / 100% auto;
    width: 163px;
    height: 208px;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
}

.platform-item.item3:before {
    background: url(../images/platform3.svg) no-repeat 0 0 / 100% auto;
    width: 190px;
    height: 158px;
    top: 20px;
}

.platform-item.item4:before {
    background: url(../images/platform4.svg) no-repeat 0 0 / 100% auto;
    width: 227px;
    height: 143px;
    top: 27px;
}


/*****************************************************/


/********* ACHIEVEMENTS **********/

.achievements-list {
    padding: 40px 0 20px;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.achievements-item {
    -webkit-flex: 1 1 21%;
    -ms-flex: 1 1 21%;
    flex: 1 1 21%;
    max-width: 21%;
    padding: 0 15px;
    text-align: center;
    position: relative;
}

.achievements-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    ;
}

.achievements-count {
    font-size: 60px;
    color: #4badd4;
    font-weight: bold;
    margin-bottom: 10px;
}


/*****************************************************/


/********* OUR PARTNERS **********/

.our-partners-section {
    background: #f2f2f2;
    text-align: center;
}

.our-partners-section .flexbox {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
}

.our-partners {
    padding: 8px 0 45px;
}

.our-partners-item {
    padding: 15px;
}

.our-partners-item img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.2s linear;
}

.our-partners-item:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.show-all {
    font-size: 20px;
}


/*****************************************************/


/********* REVIEWS **********/

.reviews-section {
    position: relative;
    padding: 65px 0 85px;
}

.reviews-slider {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
}

.reviews-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.reviews-pic {
    -webkit-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    max-width: 190px;
    padding-top: 28px;
}

.reviews-pic img {
    border-radius: 50%;
}

.reviews-info {
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding-left: 60px;
    padding-top: 70px;
    background: url(../images/reviews-info.png) no-repeat 60px 0;
    font-family: 'Circe-Light';
    font-size: 20px;
}

.reviews-autor {
    padding-top: 22px;
}

.reviews-autor h6 {
    font-size: 20px;
    font-family: 'Circe-Regular';
}


/*****************************************************/


/********* QUESTIONS FORM **********/

.question-section {
    background: url(../images/question-section.jpg) no-repeat center 0 / cover;
    color: #fff;
}

.question-section .subtitle {
    max-width: 740px;
    margin: 0 auto;
    padding-top: 7px;
}

.questions-form {
    max-width: 620px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 5px;
    ;
}

.questions-form .flexbox {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.questions-form-col {
    -webkit-flex: 1 1 49%;
    -ms-flex: 1 1 49%;
    flex: 1 1 49%;
    max-width: 49%;
}

.questions-form .form-item {
    margin-bottom: 10px;
}

.questions-form .form-item:last-child {
    margin-bottom: 0;
}

.questions-form input[type=text],
.questions-form input[type=password],
.questions-form input[type=email] {
    background: #fff;
    width: 100%;
    padding: 14px 25px;
    font-family: 'Circe-Light';
    font-size: 15px;
    color: #222428;
    border: none;
    border-radius: 3px;
}

.questions-form textarea {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 14px 25px;
    font-family: 'Circe-Light';
    font-size: 15px;
    color: #222428;
    border: none;
    border-radius: 3px;
    overflow: auto;
    min-height: 170px;
}

::-webkit-input-placeholder {
    color: #222428;
}

::-moz-placeholder {
    color: #222428;
    opacity: 1;
}

:-moz-placeholder {
    color: #222428;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #222428;
}

.form-submit {
    text-align: center;
    padding-top: 25px;
}

.form-submit .btn {
    padding: 10px 42px;
}


/*****************************************************/


/********* ARTICLES LOGO **********/

.article-logos {
    padding-bottom: 50px;
}

.article-logos-item {
    padding: 24px 0 8px;
}

.article-logos-item span {
    background: url(../images/article-logos.png) no-repeat 0 0;
    display: inline-block;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.2s linear;
}

.article-logos-item span.article-logo1 {
    background-position: 0 0;
    width: 282px;
    height: 53px;
}

.article-logos-item span.article-logo2 {
    background-position: 0 -103px;
    width: 146px;
    height: 71px;
}

.article-logos-item span.article-logo3 {
    background-position: 0 -224px;
    width: 196px;
    height: 45px;
}

.article-logos-item span.article-logo4 {
    background-position: 0 -319px;
    width: 129px;
    height: 70px;
}

.article-logos-item span.article-logo5 {
    background-position: 0 -439px;
    width: 119px;
    height: 91px;
}

.article-logos-item span:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}


/*****************************************************/


/********* SOLUTIONS **********/

.container-section {
    padding: 60px 0;
}

.container-section .flexbox {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.left-col {
    -webkit-flex: 1 1 300px;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    max-width: 300px;
    padding-top: 25px;
}

.left-nav {
    margin-bottom: 30px;
}

.left-nav li {
    padding: 6px 0;
    border-top: 1px solid #d3d3d3;
}

.left-nav li:first-child {
    border-top: none;
}

.left-nav li a {
    font-size: 20px;
    color: #222428;
}

.content-col {
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding-left: 60px;
}


/*****************************************************/


/********* SOLUTIONS **********/

.solutions-demo-section {
    background: url(../images/solutions-demo.jpg) no-repeat center 0 / cover;
    background-color: #646569;
    height: 100%;
    font-family: 'Circe-Regular', sans-serif;
    color: #fff;
    padding: 0;
    position: relative;
    text-align: center;
}

.solutions-demo-section > .flexbox {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 70px;
    z-index: 2;
}

.solutions-demo {
    max-width: 875px;
    margin: 0 auto;
}

.solutions-demo h2 {
    margin-bottom: 30px;
}

.solutions-demo p {
    margin-bottom: 80px;
    font-size: 20px;
}

.solutions-demo .btn {
    padding: 9px 32px;
}

.solutions-item {
    padding: 25px 0;
    border-bottom: 1px solid #d3d3d3;
    font-size: 20px;
    margin-bottom: 22px;
}

.solutions-item:last-child {
    border-bottom: none;
}

.solutions-item p {
    margin-bottom: 10px;
}

.solutions-item p:last-child {
    margin-bottom: 0;
}

.solutions-title {
    font-size: 30px;
    padding-left: 65px;
    position: relative;
    line-height: 1;
    margin-bottom: 25px;
    ;
}

.solutions-title:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#icon_retail:before {
    background: url(../images/solutions/solution1.svg) no-repeat 0 0 / auto 100%;
    width: 54px;
    height: 50px;
}

#icon_transportation:before {
    background: url(../images/solutions/solution2.svg) no-repeat 0 0 / auto 100%;
    width: 48px;
    height: 48px;
}

#icon_healthcare:before {
    background: url(../images/solutions/solution3.svg) no-repeat 0 0 / auto 100%;
    width: 35px;
    height: 52px;
}

#icon_estate:before {
    background: url(../images/solutions/solution4.svg) no-repeat 0 0 / auto 100%;
    width: 30px;
    height: 47px;
    left: 10px;
}

#icon_logistics:before {
    background: url(../images/solutions/solution5.svg) no-repeat 0 0 / auto 100%;
    width: 58px;
    height: 50px;
}

#icon_events:before {
    background: url(../images/solutions/solution6.svg) no-repeat 0 0 / auto 100%;
    width: 50px;
    height: 44px;
    top: -8px;
}

#icon_culture:before {
    background: url(../images/solutions/solution7.svg) no-repeat 0 0 / auto 100%;
    width: 56px;
    height: 38px;
}

#icon_sport:before {
    background: url(../images/solutions/solution8.svg) no-repeat 0 0 / auto 100%;
    width: 46px;
    height: 44px;
    left: 5px;
}

#icon_advertising:before {
    background: url(../images/solutions/solution9.svg) no-repeat 0 0 / auto 100%;
    width: 46px;
    height: 46px;
    left: 5px;
}

#icon_auto_services:before {
    background: url(../images/solutions/solution10.svg) no-repeat 0 0 / auto 100%;
    width: 54px;
    height: 34px;
}


/*****************************************************/


/********* FOOTER **********/

.footer {
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

.copyright-box {
    color: #828384;
}

.language {
    margin-bottom: 10px;
}

.language ul li {
    display: inline-block;
    margin-right: 5px;
}

.language ul li a {
    color: #828384;
    text-transform: uppercase;
}

.language ul li.active a {
    font-family: 'Circe-Regular', sans-serif;
    color: #222428;
}

.soc ul li {
    display: inline-block;
    margin-right: 15px;
}

.soc ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
}

.soc ul li a.soc-vk {
    background: url(../images/soc_vk.svg) no-repeat 0 0;
}

.soc ul li a.soc-fb {
    background: url(../images/soc_fb.svg) no-repeat 0 0;
}

.soc ul li a.soc-tw {
    background: url(../images/soc_tw.svg) no-repeat 0 0;
}

.soc ul li a.soc-in {
    background: url(../images/soc_in.svg) no-repeat 0 0;
}

.soc ul li a.soc-gg {
    background: url(../images/soc_gg.svg) no-repeat 0 0;
}

.soc ul li a:hover {
    opacity: 0.8;
}

/*****************************************************/


/********* POPAP **********/

.popup-block{
    background: #fff;
    position: relative;
    width: 100%;
    margin: auto;
}
.popup-block .mfp-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: 1;
    padding: 0;
    font-size: 0;
}

.popup-block .mfp-close:before, .popup-block .mfp-close:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
    height: 2px;
    background: #d3d3d3;
}
.popup-block .mfp-close:hover:before, .popup-block .mfp-close:hover:after {
    background: #ccc;
}

.popup-block .mfp-close:before {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-block .mfp-close:after {
  right: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-thank{
    max-width: 540px;
    padding: 127px 77px 66px 73px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Circe-Regular';
}
.popup-thank__ico{
    position: absolute;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 3px solid #4badd4;
}
.popup-thank__ico:before{
    content: '';
    width: 22px;
    height: 15px;
    border-left: 3px solid #4badd4;
    border-bottom: 3px solid #4badd4;
    border-radius: 2px;
    -ms-transform: rotate(-45deg) translate(-50%);
    transform: rotate(-45deg) translate(-50%);
    position: absolute;
    left: 45%;
    top: 0%;
}
.popup-thank__title{
    font-size: 30px;
    margin-bottom: 27px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.8px;
}
.popup-thank__info{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}


/*****************************************************/


/********* DEVICE **********/

@media (max-width:1170px) {
    .code img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}

@media (max-width:930px) {
    section {
        padding: 40px 0 !important;
    }
    .get-started {
        padding: 0 !important;
    }
    .plan-bg {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
    .steps {
        overflow: hidden;
    }
    .step-info {
        width: 100%;
        margin: 0;
    }
    .step-pic {
        position: static;
        margin-bottom: 20px;
    }
    .steps-list li {
        padding: 30px 0;
    }
    .step-number {
        line-height: 1;
    }
    .tools-item,
    .apps-info,
    .apps-list,
    .support-item,
    .research-item {
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
        margin: 10px 0;
    }
    .research-item {
        padding-top: 15px;
    }
    .apps-info {
        padding: 0;
    }
    .apps-info h2,
    .apps-info h3 {
        margin-bottom: 15px;
    }
    .demo-title,
    .demo-info {
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
        padding: 15px 30px;
    }
    .demo-title h2 span {
        padding-top: 15px;
        margin-top: 8px;
    }
    .list {
        margin: 0;
    }
    .slick-prev {
        left: 5px
    }
    .slick-next {
        right: 5px
    }
    .platform-item {
        -webkit-flex: 1 1 50%;
        flex: 1 1 50%;
        max-width: 50%;
        margin: 20px 0;
        padding-top: 215px;
    }
    .achievements-item {
        -webkit-flex: 1 1 50%;
        flex: 1 1 50%;
        max-width: 50%;
        margin: 20px 0;
    }
    .reviews-info {
        background-position: 0 0;
        padding-left: 0;
        font-size: 16px;
    }
    .article-logos .flexbox {
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
    }
    .article-logos-item {
        padding: 15px;
    }
    .request-demo-section > .flexbox {
        padding-bottom: 20px;
    }
    .video-bg {
        display: none;
    }
    .left-col {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
        padding: 0;
        position: static !important;
    }
    .content-col {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
        padding-left: 0;
    }
}

@media (max-width:750px) {
    .header-nav ul li,
    .nav ul li {
        margin-left: 18px;
    }
    .partners-item {
        width: auto;
    }
    .tools-item {
        padding: 20px;
    }
    .reviews-pic {
        display: none;
    }
    .request-demo h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .solutions-demo h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .solutions-demo p {
        font-size: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 630px) {
    .platform-item,
    .achievements-item,
    .questions-form-col {
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
    }
    .questions-form .form-item:last-child {
        margin-bottom: 10px;
    }
    .article-logos-item {
        text-align: center;
    }
    .request-list .request-list-item {
        padding-top: 70px;
    }
    .request-list .request-list-item:before {
        height: 50px;
    }
    
    .popup-thank {
        padding: 110px 40px 50px 40px;
    }
    .popup-thank__ico {
        top: 40px;
    }
    .popup-thank__title{
        font-size: 27px;
    }
}

@media (max-width:460px) {
    .logo-box,
    .header-nav,
    .copyright-box,
    .soc {
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
    }
    h2 {
        font-size: 20px;
    }
    h3,
    .subtitle {
        font-size: 14px;
    }
    .list li {
        font-size: 14px;
    }
    .header {
        text-align: center;
    }
    .logo {
        margin: auto;
    }
    .header-nav ul li {
        margin: 0 5px;
    }
    .nav {
        padding-top: 30px;
    }
    .support-item {
        padding: 15px;
    }
    .support-item p {
        padding-left: 90px;
    }
    .ask-box {
        padding-top: 20px;
    }
    .footer {
        text-align: center;
    }
    .language {
        margin: 0;
    }
    .copyright-box {
        margin-bottom: 10px;
    }
    .soc ul li {
        margin: 0 5px;
    }
    .request-demo h2 {
        font-size: 17px;
        padding-top: 15px;
    }
    .request-list .request-list-item {
        -webkit-flex: 1 1 32%;
        flex: 1 1 32%;
        max-width: 32%;
        padding-top: 50px;
        margin: 10px 0;
    }
    .request-list .request-list-item:before {
        height: 40px;
    }
}

@media (max-width:420px) {
    .nav {
        text-align: center;
    }
    .nav ul li {
        margin: 0 3px;
    }
    .step-pic {
        background-size: 290px auto;
    }
    .steps-list li:nth-child(1) .step-pic {
        width: 240px;
        height: 260px;
    }
    .steps-list li:nth-child(2) .step-pic {
        width: 290px;
        height: 290px;
    }
    .steps-list li:nth-child(3) .step-pic {
        width: 285px;
        height: 295px;
    }
    .tabNavigation li {
        width: 50%;
        float: left;
    }
    .tabNavigation li a {
        text-indent: -9999px;
        padding: 20px;
    }
    .tabNavigation li a span {
        padding: 0;
        width: 30px;
        margin: 0 auto;
    }
    .our-partners-section .flexbox {
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
    }

    .popup-thank {
        padding: 110px 15px 45px 15px;
    }

    .popup-thank__title {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .popup-thank__info {
        font-size: 16px;
    }

}

@media (max-width:350px) {
    .nav ul li a {
        font-size: 13px;
    }
}

@media (max-width:450px) and (max-height:720px) {
    .get-started {
        min-height: inherit;
    }
    .get-started .flexbox,
    .request-demo-section > .flexbox {
        padding-top: 73px;
    }
}

@media (max-height: 400px) {
    .request-demo {
        padding-top: 30px;
    }
    .solutions-demo h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .solutions-demo p {
        font-size: 15px;
        margin-bottom: 15px;
    }
}

@media (max-height: 330px) {
    .request-demo-section > .flexbox {
        padding-bottom: 0;
    }
    .request-list {
        display: none;
    }
    .solutions-demo h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .solutions-demo p {
        font-size: 13px;
    }
}
